* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding: 10px 0;
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ul-div {
  padding: 0 20px;
}

ul {
  display: flex;
  list-style-type: none;
}

li {
  margin: 0 5px;
}

.ul-div a {
  font-size: 13px;
  color: hsl(0 0% 0% / 0.87);
  line-height: 24px;
  text-decoration: none;
  height: 40px;
}

a:hover {
  text-decoration: underline;
}

.div-form {
  background-color: blue;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #f2f2f2;
  border-top: 1px solid #e4e4e4;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.fo-div {
  padding: 0 20px;
}

.fo-div a {
  color: hsl(213 5% 39%);
  font-size: 14px;
  line-height: 40px;
  text-decoration: none;
}
